<div class="card mt-3">
  <div class="card-body">
  <form [formGroup]="formulario" (ngSubmit)="guardar()" class="row">
    <div class="col-md-6">
      <label for="nombres" class="form-label">Nombres</label>
      <input
        class="form-control"
        required
        id="nombres"
        formControlName="nombre"
        type="text"
        placeholder="Escribe tu nombre"
      />
      <div class="validation" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <span *ngIf="nombre.errors?.['required']">Nombre es requerido</span>
        <span *ngIf="nombre.errors?.['minlength']">Mínimo 2 caracteres</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input
        class="form-control"
        id="apellidos"
        formControlName="apellido"
        type="text"
        placeholder="Escribe tu apellido"
      />
      <div class="validation" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
        <span *ngIf="apellido.errors?.['required']">Apellido es requerido</span>
      </div>
    </div>
    <div class="col-md-12">
      <label for="correo" class="form-label">Correo</label>
      <input
        class="form-control"
        id="correo"
        formControlName="correo"
        type="email"
        placeholder="correo@dominio.com"
      />
      <div class="validation" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
        <span *ngIf="correo.errors?.['required']">Correo es requerido</span>
        <span *ngIf="correo.errors?.['pattern']">Debe ser un correo válido</span>
      </div>
    </div>
    <div class="col-12 mt-3">
      <input
        class="btn btn-success"
        [disabled]="!formulario.valid"
        type="submit"
        value="submit"
      />
    </div>
  </form>
  </div>
</div>

